<div class="page-wrapper">
  <div class="home-icon" (click)="navigateToDashboard()">
    <i class="fas fa-home"></i>
  </div>
  <div class="profile-icon" (click)="navigateToUserDetails()" >
    <i class="fas fa-user"></i>
  </div>
  <div class="container">

    <div class="user-profile">
      <div class="profile-picture">
        <img src="{{ user?.profile_picture ? user?.profile_picture : 'assets/favicon.png' }}" alt="Profile Picture">
      </div>

      <div class="user-info">
        <h2>{{ user?.username }}</h2>
        <p><strong>ID:</strong> {{ user?.id }}</p>
        <p><strong>Email:</strong> {{ user?.email }}</p>
        <p><strong>First Name:</strong> {{ user?.firstName }}</p>
        <p><strong>Last Name:</strong> {{ user?.lastName }}</p>
        <p><strong>Birthday:</strong> {{ user?.birthday | date }}</p>
        <p><strong>Description:</strong> {{ user?.description }}</p>
        <p><strong>Rating:</strong></p>
        <div style="display: flex; flex-direction: column; gap: 20px">
          <p-rating [cancel]="false" [readonly]="true"></p-rating>
        </div>
      </div>
    </div>
  </div>
</div>
