# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
pnpm-lock.yaml
db/data/master.mdf
db/data/Entropy.bin
db/data/DiveSpeciesDb.mdf
db/data/DiveSpeciesDb_log.ldf
db/data/mastlog.ldf
db/data/model.mdf
db/data/model_msdbdata.mdf
db/data/model_msdblog.ldf
db/data/model_replicatedmaster.ldf
db/data/model_replicatedmaster.mdf
db/data/modellog.ldf
db/data/msdbdata.mdf
db/data/msdblog.ldf
db/data/tempdb.mdf
db/data/tempdb2.ndf
db/data/tempdb3.ndf
db/data/tempdb4.ndf
db/data/tempdb5.ndf
db/data/tempdb6.ndf
db/data/tempdb7.ndf
db/data/tempdb8.ndf
db/data/templog.ldf
db/log/errorlog
db/log/errorlog.1
db/log/errorlog.2
db/log/HkEngineEventFile_0_133577527051050000.xel
db/log/HkEngineEventFile_0_133577528173900000.xel
db/log/log.trc
db/log/log_1.trc
db/log/sqlagentstartup.log
db/log/system_health_0_133577527147340000.xel
db/log/system_health_0_133577528210780000.xel
