.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.dive-details {
  margin-top: 20px;
}

.dive-details label {
  font-weight: bold;
}

.dive-details p {
  margin: 5px 0;
}
