<div class="navbar-wrapper" [class.sticky-offset]="utilityService.isOffsetBodyScroll">
    <div class="navbar-container">
        <div class="logo">
            Species 
            <span>WEB-Draft</span>
        </div>

        <div class="nav-links">
            <div 
                class="nav-link" 
                routerLink="dangerous-feed" 
                routerLinkActive="active">
    
                Dangerous Feed
            </div>
    
            <div 
                class="nav-link" 
                routerLink="species"
                routerLinkActive="active">
                
                Species
            </div>
    
            <div 
                class="nav-link" 
                routerLink="statistics"
                routerLinkActive="active">
    
                Statistics/Analytics
            </div>
        </div>
    </div>
</div>